@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background: url('./assets/images/background-pattern-desktop.svg') no-repeat,
    #f8eeff;
    background-size: contain;
    font-family: 'Work Sans', sans-serif;

    @media screen and (max-width: 1024px) {
        background: url('./assets/images/background-pattern-mobile.svg') no-repeat,
        #f8eeff;
        background-size: contain;
    }
}

/**/